<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
    <head>
      <meta name="_csrf" th:content="${_csrf.token}"/>
      <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    </head>

    <title>Register a Flight Bot</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css"></link>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"></link>

    <!-- Custom styles for this template -->
    <link href="css/landing-page.min.css" rel="stylesheet"></link>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Flight Bot</a>
        <form th:action="@{/logout}" method="post">
          <input type="submit" value="Sign Out"/>
        </form>
      </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Build a landing page for your business or project and generate more leads!</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <!--<form method="POST" id="register_bot_form">
              <label>Email:</label>
              <input type="text" name="email" id="email" th:required="required"/><br></br>
              <label>Destination Airport Code:</label>
              <input type="text" name="destination" id="destination" th:required="required"/><br></br>
              <label>Origin Airport Code:</label>
              <input type="text" name="origin" id="origin" th:required="required"/><br></br>
              <label>Trip length:</label>
              <input type="text" name="length" id="length" th:required="required"/><br></br>
              <label>Season:</label>
              <input type="text" name="season" id="season" th:required="required"/><br></br>
              <input type="submit" value="Submit" name="submit" class="submit" id="submit" />
            </form>-->
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">Ready to get started? Sign up now!</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form method="POST" id="register_bot_form">
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <label>Email address</label>
                  <input id="email" type="email" class="form-control form-control-lg" placeholder="Enter your email..." th:required="required"></input>
                  <label>Origin Airport Code</label>
                  <input id="origin" type="text" class="form-control form-control-lg" placeholder="(ex. LAX, SFO, ATL)" th:required="required"></input>
                  <label>Desination Airport Code</label>
                  <input id="destination" type="text" class="form-control form-control-lg" placeholder="(ex. LAX, SFO, ATL)" th:required="required"></input>
                  <label>Trip duration in days</label>
                  <input id="length" type="text" class="form-control form-control-lg" placeholder="(ex. 3, 10, 20)" th:required="required"></input>
                  <label>Enter the season for travel</label>
                  <input id="season" type="text" class="form-control form-control-lg" placeholder="(Fall, Winter, Spring, or Summer)" th:required="required"></input>
                </div>
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <button id="submit" type="submit" class="btn btn-block btn-lg btn-primary">Create Bot!</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>


    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">

      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
  $(function() {
    $('#register_bot_form').on('submit', function(e) {
      var token = $("meta[name='_csrf']").attr("content");
      var header = $("meta[name='_csrf_header']").attr("content");
        e.preventDefault();  //prevent form from submitting

        var data = {}
			data["email"] = $("#email").val();
			data["destination"] = $("#destination").val();
			data["origin"] = $("#origin").val();
			data["length"] = $("#length").val();
			data["season"] = $("#season").val();

         $.ajax({
            url: '/register-bot',
            type: 'post',
            contentType: "application/json",
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
            },
            data: JSON.stringify(data),
            dataType: 'json',
            timeout: 600000,
            success: function (data) {
                alert(data);
            }
        });
    });
});
</script>

  </body>

</html>
